### Fetching requisite data

In [0]:
import requests
import json
import pandas as pd
import numpy as np
import string
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

API_KEY = "" #insert your API key here

API_HOST = 'https://api.yelp.com'
BUSINESS_PATH = '/v3/businesses/'

[nltk_data] Downloading package punkt to C:\Users\Abhishek
[nltk_data]     Patria\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [0]:
#Product Id of New York restaurants

ny = pd.read_csv('./YelpNYC//productIdMapping', sep='\t', header=None)
ny.columns = ['name', 'id']
ny = ny.assign(alias = ['not found' for i in range(len(ny.name))])
ny = ny.assign(latitude = [0.0 for i in range(len(ny.name))])
ny  = ny.assign(longitude = [0.0 for i in range(len(ny.name))])
ny  = ny.assign(zipcode = [0 for i in range(len(ny.name))])
ny  = ny.assign(review_count = [0.0 for i in range(len(ny.name))])
ny  = ny.assign(complete_name = ['not found' for i in range(len(ny.name))])
ny  = ny.assign(rating = [0 for i in range(len(ny.name))])

ny.name = ny.name.str.lower()
ny.name= ny.name.str.replace('’', '', regex=False)
ny.name = ny.name.str.replace('.', '-', regex=False)
ny.name = ny.name.str.replace('!', '-', regex=False)
ny.name = ny.name.str.replace(' ', '-', regex=False)
ny.name = ny.name.str.replace('&', 'and', regex=False)
ny.name = ny.name.str.replace('#', '-no-', regex=False)
ny.name = ny.name.str.replace('--', '-', regex=False)
ny.name = ny.name.str.replace('---', '-', regex=False)
ny.name = ny.name.str.replace('----', '-', regex=False)

In [0]:
def search_business(term, BUSINESS_PATH = BUSINESS_PATH, API_HOST = API_HOST):

    business_path = BUSINESS_PATH + 'search?term=' + term + '&limit=1&location=new-york'
    url = API_HOST + business_path

    #print(url)

    headers = {'Authorization': f"Bearer {API_KEY}"}
    response = requests.get(url, headers=headers)
    return response.json()

In [0]:
for i in range(len(ny.name)):
    response = search_business(ny.name[i])
    #print(response)
    #print(i, ' of ', len(ny.name),' - search term: ', ny.name[i])
    try:
     #print('response term: ', response['businesses'][0]['alias'])
        ny.loc[i, 'alias'] = response['businesses'][0]['alias']
    except (IndexError, KeyError):
    # print('response term: ', "404-Not Found")
    # print('Coordinates cannot be fetched')
    # print('\n')
        continue
    # print(response['businesses'][0]['coordinates'])
    # print('\n')
    ny.loc[i, 'latitude'] = response['businesses'][0]['coordinates']['latitude']
    ny.loc[i, 'longitude'] = response['businesses'][0]['coordinates']['longitude']
    ny.loc[i, 'zipcode'] = response['businesses'][0]['location']['zip_code']
    ny.loc[i, 'review_count'] = response['businesses'][0]['review_count']
    ny.loc[i, 'complete_name'] = response['businesses'][0]['name']
    ny.loc[i, 'rating'] = response['businesses'][0]['rating']

In [0]:
ny.to_csv('productIdMappingWithCoordinates.csv', index=False)

### Loading NY data

In [0]:
productIdMapping = pd.read_csv('./YelpNYC/productIdMapping', header=None, sep='\t')
productIdMapping.columns = ['prod_name', 'prod_id']

In [0]:
productIdMapping

             prod_name  prod_id
0                Snack        0
1            Peppino’s        1
2    Dekalb Restaurant        3
3          Le Parisien        4
4    Blue Spoon Coffee        5
..                 ...      ...
918            Beyoglu      917
919            Benares      902
920        BrisketTown      920
921            Bijan’s      921
922              Emily      349

[923 rows x 2 columns]

In [0]:
productIdMappingWithCoordinates = pd.read_csv('./YelpNYC/productIdMappingWithCoordinates.csv')
#productIdMappingWithCoordinates.columns = ['prod_name_derived', 'prod_id','response_name', 'latitude','longitude']

productIdMappingWithCoordinates.columns = ['prod_name_derived', 'prod_id', 'alias', 'latitude','longitude', 'zipcode', \
                                          'review_count', 'complete_name', 'match']

match_check = productIdMappingWithCoordinates.apply(lambda x: x['prod_name_derived'] in x['alias'], axis = 1)
productIdMappingWithCoordinates['match'] = match_check

In [0]:
productIdMappingWithCoordinates

,prod_name_derived,prod_id,alias,latitude,longitude,zipcode,review_count,complete_name,match
0,snack,0,kuih-cafe-new-york,40.715900,-73.993010,10002,7.0,Kuih Cafe,False
1,peppinos,1,peppinos-brick-oven-pizza-and-restaurant-brook...,40.668221,-73.986936,11215,415.0,Peppino's Brick Oven Pizza & Restaurant,True
2,dekalb-restaurant,3,dekalb-market-hall-brooklyn-2,40.691025,-73.983311,11201,665.0,Dekalb Market Hall,False
3,le-parisien,4,le-parisien-new-york,40.745408,-73.979148,10016,965.0,Le Parisien,True
4,blue-spoon-coffee,5,blue-spoon-coffee-new-york-3,40.708068,-74.007469,10038,188.0,Blue Spoon Coffee,True
...,...,...,...,...,...,...,...,...,...
918,beyoglu,917,beyoglu-new-york,40.775420,-73.956240,10028,1142.0,Beyoglu,True
919,benares,902,benares-new-york-3,40.714150,-74.009209,10007,507.0,Benares,True
920,briskettown,920,hometown-bar-b-que-brooklyn-3,40.674897,-74.016049,11231,1343.0,Hometown Bar-B-Que,False
921,bijans,921,bijans-brooklyn-2,40.688030,-73.986710,11211,575.0,Bijan's,True
922,emily,349,emily-brooklyn-2,40.683510,-73.966430,11238,772.0,Emily,True

In [0]:
metadata = pd.read_csv('./YelpNYC/metadata', header=None, sep='\t')
metadata.columns = ['user_id', 'prod_id', 'rating', 'label', 'date']

In [0]:
metadata

        user_id  prod_id  rating  label        date
0           923        0     3.0     -1  2014-12-08
1           924        0     3.0     -1  2013-05-16
2           925        0     4.0     -1  2013-07-01
3           926        0     4.0     -1  2011-07-28
4           927        0     4.0     -1  2010-11-01
...         ...      ...     ...    ...         ...
359047   161146      349     5.0      1  2014-02-06
359048   116424      349     5.0      1  2014-01-31
359049   161147      349     5.0      1  2014-01-30
359050    97930      349     5.0      1  2014-01-25
359051     5260      349     5.0      1  2014-01-25

[359052 rows x 5 columns]

In [0]:
reviewContent = pd.read_csv('./YelpNYC/reviewContent', header=None, sep='\t')
reviewContent.columns = ['user_id', 'prod_id', 'date', 'review']

In [0]:
reviewContent

,user_id,prod_id,date,review
0,923,0,2014-12-08,The food at snack is a selection of popular Gr...
1,924,0,2013-05-16,This little place in Soho is wonderful. I had ...
2,925,0,2013-07-01,ordered lunch for 15 from Snack last Friday. ...
3,926,0,2011-07-28,This is a beautiful quaint little restaurant o...
4,927,0,2010-11-01,Snack is great place for a casual sit down lu...
...,...,...,...,...
358952,161146,349,2014-02-06,"I'm very spoiled with Pizza. Really, I have tr..."
358953,116424,349,2014-01-31,Can't say enough good things about this place....
358954,161147,349,2014-01-30,"Had a great dinner here- fantastic pizza, the ..."
358955,97930,349,2014-01-25,"Great foods and great drinks, they have even p..."
358956,5260,349,2014-01-25,Pizza Loves Emily and I love Emily's pizza. Th...

In [0]:
flattened_data = pd.merge(left=metadata, right=reviewContent, how='inner', on=['user_id', 'prod_id', 'date'])
flattened_data = pd.merge(left=flattened_data, right=productIdMappingWithCoordinates, how='left', on=['prod_id'])

In [0]:
flattened_data

,user_id,prod_id,rating,label,date,review,prod_name_derived,alias,latitude,longitude,zipcode,review_count,complete_name,match
0,923,0,3.0,-1,2014-12-08,The food at snack is a selection of popular Gr...,snack,kuih-cafe-new-york,40.71590,-73.99301,10002,7.0,Kuih Cafe,False
1,924,0,3.0,-1,2013-05-16,This little place in Soho is wonderful. I had ...,snack,kuih-cafe-new-york,40.71590,-73.99301,10002,7.0,Kuih Cafe,False
2,925,0,4.0,-1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...,snack,kuih-cafe-new-york,40.71590,-73.99301,10002,7.0,Kuih Cafe,False
3,926,0,4.0,-1,2011-07-28,This is a beautiful quaint little restaurant o...,snack,kuih-cafe-new-york,40.71590,-73.99301,10002,7.0,Kuih Cafe,False
4,927,0,4.0,-1,2010-11-01,Snack is great place for a casual sit down lu...,snack,kuih-cafe-new-york,40.71590,-73.99301,10002,7.0,Kuih Cafe,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358952,161146,349,5.0,1,2014-02-06,"I'm very spoiled with Pizza. Really, I have tr...",emily,emily-brooklyn-2,40.68351,-73.96643,11238,772.0,Emily,True
358953,116424,349,5.0,1,2014-01-31,Can't say enough good things about this place....,emily,emily-brooklyn-2,40.68351,-73.96643,11238,772.0,Emily,True
358954,161147,349,5.0,1,2014-01-30,"Had a great dinner here- fantastic pizza, the ...",emily,emily-brooklyn-2,40.68351,-73.96643,11238,772.0,Emily,True
358955,97930,349,5.0,1,2014-01-25,"Great foods and great drinks, they have even p...",emily,emily-brooklyn-2,40.68351,-73.96643,11238,772.0,Emily,True
358956,5260,349,5.0,1,2014-01-25,Pizza Loves Emily and I love Emily's pizza. Th...,emily,emily-brooklyn-2,40.68351,-73.96643,11238,772.0,Emily,True

In [0]:
flattened_data.to_csv('./YelpNYC/flattened_data_New_York.csv')

### Feature Engineering

In [0]:
data = pd.read_csv('./YelpNYC/flattened_data_New_York.csv')

In [0]:
#Review based

data['review_len'] = data['review'].str.split().str.len()
data['review_char'] = data['review'].str.len()

punct_counter = lambda l1,l2: sum([1 for x in l1 if x in l2])
data['punct_count'] = data['review'].apply(lambda s: punct_counter(s, string.punctuation))

data['uppercase_count'] = data['review'].str.count(r'[A-Z]')

In [0]:
#User based

#data['review_len'] = data['review'].str.split().str.len()

data['review_per_user'] = data.groupby('user_id')['user_id'].transform('size')
data['avg_rating_per_user'] =data.groupby('user_id')['rating'].transform('sum')/data['review_per_user']
data['avg_words_per_user'] = data.groupby('user_id')['review_len'].transform('sum')/data['review_per_user']
data['num_review_per_user_each_day'] = data.groupby(['user_id', 'date'])['user_id'].transform('size')

In [0]:
#Product based

data['review_per_prod'] = data.groupby('prod_id')['prod_id'].transform('size')
data['avg_rating_per_prod'] =data.groupby('prod_id')['rating'].transform('sum')/data['review_per_prod']
data['avg_words_per_prod'] = data.groupby('prod_id')['review_len'].transform('sum')/data['review_per_prod']
data['num_review_per_prod_each_day'] = data.groupby(['prod_id', 'date'])['prod_id'].transform('size')

In [0]:
data.head()

,Unnamed: 0,user_id,prod_id,rating,label,date,review,prod_name_derived,alias,latitude,...,punct_count,uppercase_count,review_per_user,avg_rating_per_user,avg_words_per_user,max_review_per_user_each_day,review_per_prod,avg_rating_per_prod,avg_words_per_prod,max_review_per_prod_each_day
0,0,923,0,3.0,-1,2014-12-08,The food at snack is a selection of popular Gr...,snack,kuih-cafe-new-york,40.7159,...,6,6,39,4.435897,63.717949,2,210,4.009524,87.680952,1
1,1,924,0,3.0,-1,2013-05-16,This little place in Soho is wonderful. I had ...,snack,kuih-cafe-new-york,40.7159,...,10,6,1,3.000000,52.000000,1,210,4.009524,87.680952,1
2,2,925,0,4.0,-1,2013-07-01,ordered lunch for 15 from Snack last Friday. ...,snack,kuih-cafe-new-york,40.7159,...,5,4,2,4.000000,36.500000,2,210,4.009524,87.680952,1
3,3,926,0,4.0,-1,2011-07-28,This is a beautiful quaint little restaurant o...,snack,kuih-cafe-new-york,40.7159,...,14,8,1,4.000000,90.000000,1,210,4.009524,87.680952,1
4,4,927,0,4.0,-1,2010-11-01,Snack is great place for a casual sit down lu...,snack,kuih-cafe-new-york,40.7159,...,18,10,5,3.600000,149.400000,1,210,4.009524,87.680952,2

In [0]:
temp = data[data['label'] == 1]['review']
b_temp = ' '.join(temp)

In [0]:
c_temp.lower()

'tiny little place, but very good food. pastitsio was especially good. i had the braised lamb sandwich and was one of the best sandwiches of my life. do yourself a favour and try this place! friendly service and cosy atmosphere. this spot is close to my job so i decided to check it out for lunch. the prices are just about what you would expect for soho/"south village" sit-down lunch prices; my meal came out to $20 for a mint lemonade and a decent-sized salad. i ordered what i think may have been a special, a roasted chicken & vegetable salad. the chicken was unbelievably dry, to the point where i had tough time chewing without choking a bit. it was served on a bed of arugula which could have chopped a little finer as it was in full, hard to eat pieces. when i eat a salad, i expect it to be cut down to make for easier bites. not necessarily a chopped salad, just pieces that will actually fit in your mouth without chopping it up yourself. basically, i don\'t want to use a knife to eat a sa'

In [0]:
#n-gram based

#+1 ngrams
text = ' '.join(data[data['label'] == 1]['review'])
tokens = nltk.word_tokenize(text)
pos_bigrams = nltk.bigrams(tokens)
pos_bigrams_freq = nltk.FreqDist(pos_bigrams)
pos_bigrams_freq.most_common()

#-1 ngrams
text = ' '.join(data[data['label'] == -1]['review'])
tokens = nltk.word_tokenize(text)
neg_bigrams = nltk.bigrams(tokens)
neg_bigrams_freq = nltk.FreqDist(neg_bigrams)
neg_bigrams_freq.most_common()

[(('.', 'I'), 25828),
 (('.', 'The'), 25395),
 ((',', 'and'), 13198),
 (('!', '!'), 12874),
 (('and', 'the'), 10986),
 ((',', 'but'), 10597),
 (('of', 'the'), 9890),
 (('in', 'the'), 8516),
 (('.', 'We'), 7980),
 ((',', 'the'), 7558),
 (('this', 'place'), 7491),
 (('.', 'It'), 7076),
 (('it', 'was'), 6816),
 (('the', 'food'), 6433),
 ((',', 'I'), 6398),
 (('and', 'I'), 5752),
 (('on', 'the'), 5622),
 (('for', 'a'), 5455),
 (('it', "'s"), 4942),
 (('the', 'best'), 4813),
 (('for', 'the'), 4780),
 (('I', 'was'), 4749),
 (('to', 'the'), 4685),
 (('!', 'I'), 4300),
 (('I', 'have'), 4298),
 (('do', "n't"), 4253),
 (('I', "'ve"), 4238),
 (('I', 'had'), 4209),
 (('is', 'a'), 4195),
 (('to', 'be'), 4024),
 (('.', 'This'), 4015),
 (('with', 'a'), 3885),
 (('The', 'food'), 3785),
 (('it', '.'), 3771),
 (('.', 'My'), 3709),
 (('food', 'is'), 3702),
 (('I', "'m"), 3690),
 (('with', 'the'), 3619),
 ((')', '.'), 3528),
 (('at', 'the'), 3517),
 (('.', 'They'), 3507),
 (('was', 'a'), 3430),
 (('place', 'is'), 3334),
 (('and', 'it'), 3147),
 ((',', 'it'), 3124),
 (('a', 'great'), 3109),
 (('is', 'the'), 3100),
 (('!', 'The'), 3090),
 (('I', 'would'), 3069),
 (('good', '.'), 3068),
 (('if', 'you'), 3058),
 (('had', 'the'), 3053),
 (('food', 'was'), 3037),
 (('we', 'were'), 2901),
 (('food', '.'), 2896),
 (('to', 'go'), 2852),
 (('had', 'a'), 2850),
 (('one', 'of'), 2826),
 (('did', "n't"), 2722),
 (('in', 'a'), 2716),
 (('It', "'s"), 2704),
 (('place', '.'), 2698),
 (('it', 'is'), 2684),
 (('on', 'a'), 2655),
 (('but', 'the'), 2606),
 (('and', 'a'), 2565),
 (('food', ','), 2556),
 (('It', 'was'), 2513),
 (('to', 'get'), 2462),
 ((',', 'which'), 2433),
 (('but', 'I'), 2387),
 (('the', 'service'), 2384),
 (('a', 'little'), 2379),
 (('.', 'If'), 2336),
 (('the', 'place'), 2327),
 (('.', 'Great'), 2289),
 (('was', 'very'), 2287),
 (('I', 'am'), 2253),
 ((',', 'we'), 2252),
 (('I', 'love'), 2229),
 (('have', 'a'), 2228),
 ((',', 'so'), 2172),
 (('have', 'to'), 2172),
 (('.', 'But'), 2150),
 (('the', 'menu'), 2098),
 (('a', 'few'), 2081),
 (('This', 'place'), 2061),
 (('was', 'the'), 2052),
 (('food', 'and'), 2049),
 (('I', 'do'), 2010),
 (('have', 'been'), 1984),
 (('ca', "n't"), 1983),
 (('a', 'bit'), 1969),
 (('.', 'And'), 1969),
 (('the', 'bar'), 1967),
 (('If', 'you'), 1947),
 (('that', 'I'), 1938),
 (('service', 'was'), 1924),
 (('from', 'the'), 1923),
 (('delicious', '.'), 1915),
 (('place', 'to'), 1903),
 (('out', 'of'), 1873),
 (('and', 'they'), 1862),
 (('go', 'back'), 1860),
 (('this', 'is'), 1859),
 (('This', 'is'), 1859),
 (('but', 'it'), 1857),
 (('I', 'will'), 1841),
 (('to', 'try'), 1837),
 (('good', ','), 1830),
 (('to', 'eat'), 1827),
 (('the', 'restaurant'), 1823),
 (('we', 'had'), 1791),
 ((')', ','), 1786),
 (('and', 'we'), 1784),
 (('a', 'good'), 1783),
 (('you', 'can'), 1754),
 (('of', 'my'), 1739),
 (('all', 'the'), 1722),
 (('which', 'was'), 1710),
 (('by', 'the'), 1709),
 (('you', "'re"), 1700),
 (('I', 'went'), 1691),
 (('great', '.'), 1690),
 (('as', 'well'), 1654),
 ((',', 'they'), 1646),
 (('service', '.'), 1616),
 (('.', 'There'), 1614),
 (('.', 'A'), 1614),
 (('was', "n't"), 1600),
 (('had', 'to'), 1589),
 (('that', 'the'), 1586),
 (('was', 'great'), 1581),
 (('want', 'to'), 1574),
 ((',', 'you'), 1572),
 (('you', 'are'), 1570),
 (('is', 'great'), 1550),
 (("'s", 'a'), 1549),
 (('.', 'You'), 1548),
 (('to', 'have'), 1522),
 (('very', 'good'), 1517),
 (('.', 'So'), 1496),
 (('they', 'were'), 1485),
 (('of', 'a'), 1485),
 (('here', '.'), 1450),
 (('time', '.'), 1443),
 (('The', 'service'), 1443),
 (('is', 'very'), 1443),
 (('the', 'wait'), 1420),
 (('was', 'so'), 1405),
 (('service', 'is'), 1404),
 (('in', 'NYC'), 1404),
 (('the', 'staff'), 1394),
 (('which', 'is'), 1392),
 ((')', 'and'), 1386),
 (('about', 'the'), 1374),
 (('was', 'good'), 1372),
 (('back', '.'), 1364),
 (('ordered', 'the'), 1363),
 (('my', 'favorite'), 1354),
 (('I', 'think'), 1350),
 (('New', 'York'), 1338),
 (('a', 'table'), 1338),
 (('a', 'lot'), 1332),
 (('they', 'are'), 1327),
 (('is', 'not'), 1324),
 (('restaurant', '.'), 1319),
 (('was', 'not'), 1310),
 (('I', 'can'), 1309),
 (('this', 'restaurant'), 1306),
 (('go', 'to'), 1286),
 (('I', 'could'), 1284),
 (('I', 'did'), 1282),
 (('.', 'When'), 1271),
 (('when', 'I'), 1270),
 (('We', 'had'), 1270),
 (('so', 'I'), 1263),
 (('the', 'city'), 1252),
 (("'ve", 'been'), 1249),
 (('a', 'nice'), 1249),
 ((',', 'a'), 1248),
 (('I', 'ordered'), 1247),
 (('the', 'same'), 1245),
 (('to', 'wait'), 1243),
 (('.', 'Not'), 1241),
 (('will', 'be'), 1225),
 (('to', 'say'), 1213),
 (('friendly', 'and'), 1213),
 (('ever', 'had'), 1210),
 (('in', 'my'), 1207),
 (('that', 'they'), 1202),
 (('with', 'my'), 1196),
 (('.', 'the'), 1195),
 (('get', 'a'), 1193),
 (('would', 'be'), 1185),
 (('they', 'have'), 1183),
 (('experience', '.'), 1170),
 (('We', 'were'), 1166),
 (('be', 'back'), 1158),
 ((',', 'this'), 1156),
 (('amazing', '.'), 1154),
 (('worth', 'the'), 1146),
 (('to', 'make'), 1141),
 (('going', 'to'), 1138),
 (('worth', 'it'), 1124),
 (('time', 'I'), 1123),
 (('.', 'Food'), 1118),
 (('It', 'is'), 1115),
 (('a', 'very'), 1113),
 (('did', 'not'), 1099),
 (('was', 'delicious'), 1098),
 (('again', '.'), 1092),
 (('be', 'a'), 1088),
 (('there', '.'), 1086),
 (('well', '.'), 1086),
 (('and', 'was'), 1082),
 (('.', 'For'), 1074),
 (('but', 'not'), 1071),
 ((',', 'not'), 1071),
 (('that', "'s"), 1063),
 (('too', '.'), 1057),
 (('love', 'the'), 1056),
 (('great', ','), 1054),
 (('to', 'this'), 1051),
 (('you', 'have'), 1050),
 (('!', 'We'), 1043),
 ((',', 'great'), 1040),
 (('place', ','), 1037),
 (('.', 'Our'), 1035),
 (('that', 'was'), 1031),
 (('the', 'other'), 1027),
 (('...', '.'), 1026),
 (('.', 'Service'), 1024),
 (('here', 'for'), 1022),
 (('to', 'a'), 1021),
 (('and', 'my'), 1020),
 (('!', 'This'), 1017),
 (('of', 'this'), 1008),
 (('service', ','), 1007),
 (('that', 'it'), 1007),
 (('.', 'He'), 1006),
 (('there', 'was'), 1001),
 (('there', 'is'), 1000),
 (('you', 'want'), 997),
 (('place', 'for'), 992),
 (('the', 'first'), 992),
 (('is', 'good'), 987),
 (('.', 'Very'), 980),
 (('.', 'All'), 978),
 (('is', 'always'), 971),
 (('.', 'As'), 968),
 (('that', 'we'), 968),
 (('the', 'table'), 965),
 (('for', 'dinner'), 964),
 (('is', 'so'), 960),
 ((',', 'as'), 958),
 (('I', "'d"), 958),
 (("'ve", 'had'), 953),
 (('me', '.'), 945),
 (('kind', 'of'), 942),
 (('I', "'ll"), 941),
 (('back', 'to'), 940),
 (('The', 'staff'), 936),
 (('the', 'price'), 936),
 (('decided', 'to'), 935),
 (('menu', '.'), 935),
 (('.', 'Also'), 934),
 (('at', 'all'), 931),
 (('and', 'you'), 930),
 (('really', 'good'), 929),
 (('it', ','), 927),
 (('for', 'me'), 927),
 (('was', 'really'), 926),
 (('love', 'this'), 921),
 (('like', 'a'), 920),
 (('as', 'the'), 919),
 (('meal', '.'), 917),
 (('.', 'i'), 915),
 (('like', 'the'), 915),
 (('lot', 'of'), 914),
 (('come', 'back'), 909),
 (('is', 'that'), 904),
 (('I', 'got'), 903),
 (('at', 'least'), 898),
 (('that', 'is'), 898),
 (('to', 'come'), 897),
 (('for', 'my'), 894),
 (('not', 'a'), 891),
 (('would', 'have'), 891),
 (('could', "n't"), 887),
 (('the', 'neighborhood'), 886),
 (('place', 'was'), 882),
 (('and', 'not'), 878),
 (('I', 'ca'), 875),
 (('service', 'and'), 874),
 (('a', 'place'), 873),
 (('first', 'time'), 871),
 (('night', '.'), 869),
 (('it', '!'), 867),
 (('.', 'One'), 865),
 (('is', 'amazing'), 861),
 (('as', 'a'), 859),
 (('and', 'had'), 857),
 (("n't", 'have'), 855),
 (('good', 'and'), 854),
 (('.', 'What'), 853),
 (('.', 'After'), 853),
 (('more', 'than'), 852),
 (('at', 'a'), 850),
 (("'ve", 'ever'), 850),
 (('?', '?'), 849),
 (('of', 'us'), 840),
 (('.', 'She'), 839),
 (('the', 'most'), 837),
 (('out', '.'), 835),
 (('was', 'just'), 833),
 (('my', 'friend'), 832),
 (('some', 'of'), 832),
 (('!', ')'), 832),
 (('get', 'the'), 832),
 (('about', 'this'), 826),
 (('to', 'order'), 824),
 (('place', '!'), 823),
 ((',', 'with'), 823),
 (('staff', 'is'), 820),
 (('delicious', 'and'), 817),
 (('The', 'place'), 817),
 (('wait', '.'), 811),
 (('the', 'chicken'), 811),
 (('so', 'good'), 805),
 (('went', 'to'), 804),
 (('looking', 'for'), 803),
 (('and', 'have'), 801),
 (('wanted', 'to'), 801),
 (('.', 'Their'), 797),
 (('a', 'couple'), 796),
 (('.', 'In'), 794),
 (('.', 'Good'), 791),
 (('for', 'brunch'), 789),
 (('to', 'find'), 786),
 (('an', 'hour'), 784),
 (('delicious', ','), 782),
 (('when', 'you'), 781),
 (('the', 'pizza'), 776),
 (('the', 'time'), 773),
 (('had', '.'), 772),
 (('can', 'be'), 768),
 (('I', 'really'), 768),
 (('when', 'we'), 767),
 (('.', 'However'), 767),
 (('wait', 'to'), 766),
 (('was', 'amazing'), 766),
 (('you', 'will'), 766),
 (('the', 'way'), 766),
 (('there', 'are'), 764),
 (('been', 'to'), 764),
 (('fresh', 'and'), 763),
 (('table', '.'), 763),
 (('used', 'to'), 756),
 (('NYC', '.'), 756),
 (('has', 'a'), 754),
 (('a', 'long'), 753),
 (('try', 'the'), 752),
 (('all', 'of'), 747),
 (('does', "n't"), 744),
 (('because', 'it'), 744),
 (('got', 'the'), 744),
 (('my', 'friends'), 744),
 (('.', 'Everything'), 743),
 (('and', 'very'), 739),
 (('The', 'only'), 733),
 (('wo', "n't"), 731),
 (('need', 'to'), 729),
 (('recommend', 'this'), 727),
 (('!', 'It'), 726),
 (('the', 'atmosphere'), 724),
 ((',', 'or'), 723),
 (('.', 'That'), 722),
 (('and', 'delicious'), 721),
 (('in', 'New'), 721),
 (('dinner', '.'), 720),
 (('to', 'see'), 720),
 (('the', 'area'), 718),
 (('I', 'like'), 717),
 (('great', 'food'), 714),
 (('restaurant', 'is'), 714),
 (('is', 'really'), 713),
 (('so', 'we'), 712),
 (('for', 'lunch'), 711),
 (('a', 'reservation'), 710),
 (('that', 'you'), 709),
 (('so', 'much'), 709),
 (('as', 'I'), 709),
 (('have', 'ever'), 708),
 (('.', 'Overall'), 707),
 (('!', 'My'), 704),
 (('good', 'food'), 704),
 (('.', 'No'), 704),
 (('of', 'their'), 704),
 (('I', 'just'), 704),
 (("n't", 'be'), 703),
 (('to', 'take'), 702),
 (('pizza', '.'), 697),
 (('and', 'then'), 697),
 (('nice', 'and'), 696),
 (('they', 'do'), 696),
 (('is', 'one'), 696),
 (('to', 'me'), 695),
 (('because', 'I'), 694),
 (('a', 'big'), 693),
 (('.', 'Do'), 693),
 (('One', 'of'), 692),
 (('and', 'service'), 692),
 ((',', 'my'), 691),
 (('is', "n't"), 687),
 (('I', 'know'), 685),
 (('excellent', '.'), 685),
 (('you', 'get'), 684),
 (('great', 'and'), 683),
 (('atmosphere', '.'), 682),
 (('better', 'than'), 682),
 (('the', 'waiter'), 681),
 (('...', 'I'), 680),
 (('!', 'Great'), 676),
 (("'s", 'not'), 674),
 (('you', 'do'), 672),
 (('over', 'the'), 672),
 (("'m", 'not'), 670),
 (('highly', 'recommend'), 670),
 (('friendly', '.'), 670),
 (('staff', 'was'), 669),
 (('the', 'only'), 669),
 (('However', ','), 668),
 (('the', 'owner'), 667),
 (('Do', "n't"), 667),
 (('but', 'they'), 666),
 (('what', 'I'), 666),
 (('us', '.'), 663),
 (('restaurant', ','), 663),
 (('Service', 'was'), 663),
 (('are', 'the'), 660),
 (('friends', 'and'), 660),
 (("n't", 'get'), 660),
 (('(', 'I'), 659),
 (("n't", 'even'), 658),
 ((':', ')'), 658),
 (('a', 'restaurant'), 657),
 (('wait', 'for'), 656),
 (('was', 'excellent'), 655),
 (('such', 'a'), 654),
 (('our', 'table'), 653),
 (('a', 'small'), 652),
 ((',', 'if'), 651),
 (('a', 'friend'), 651),
 (('.', 'Love'), 646),
 (('if', 'I'), 644),
 (('able', 'to'), 643),
 (('are', 'a'), 643),
 (('not', 'the'), 643),
 (('because', 'the'), 641),
 (('.', "''"), 640),
 ((',', 'there'), 638),
 (('in', 'this'), 637),
 (('.', 'Just'), 637),
 (("n't", 'know'), 636),
 (("n't", 'wait'), 634),
 (('to', 'my'), 631),
 (('delicious', '!'), 629),
 (('bar', '.'), 624),
 (('we', 'ordered'), 622),
 (('it', 'to'), 620),
 (('is', 'my'), 620),
 (('and', 'that'), 619),
 (('the', 'meal'), 618),
 ((',', 'i'), 616),
 (('as', 'it'), 616),
 (('were', 'very'), 612),
 (('of', 'our'), 611),
 (('go', 'there'), 611),
 (('is', 'just'), 610),
 (('and', 'friendly'), 610),
 (('very', 'nice'), 610),
 (('on', 'my'), 609),
 (('had', 'in'), 609),
 (('great', 'place'), 607),
 (('which', 'I'), 607),
 (('good', 'as'), 606),
 (('They', 'have'), 606),
 (('this', 'was'), 604),
 (('do', 'not'), 604),
 ((',', 'very'), 602),
 (('sauce', '.'), 601),
 (('and', 'there'), 601),
 (('about', 'it'), 601),
 (('up', 'to'), 601),
 (('we', 'did'), 600),
 (('here', 'is'), 600),
 (('very', 'friendly'), 600),
 (('of', 'food'), 599),
 (('time', ','), 597),
 (('going', 'back'), 597),
 (('city', '.'), 597),
 (('We', 'ordered'), 595),
 (('pretty', 'good'), 595),
 (('it', 'a'), 594),
 (('better', '.'), 593),
 (('to', 'give'), 592),
 (('at', 'this'), 591),
 (('can', 'get'), 590),
 ((',', 'especially'), 589),
 (('here', ','), 588),
 (('good', 'but'), 586),
 (('the', 'kitchen'), 585),
 (('.', 'Definitely'), 585),
 (("''", '.'), 585),
 (('me', 'to'), 585),
 (('food', '!'), 582),
 (('couple', 'of'), 582),
 (('is', 'delicious'), 581),
 (('and', 'were'), 580),
 (('are', 'very'), 580),
 (('I', 'go'), 580),
 (('would', "n't"), 579),
 (('come', 'here'), 578),
 (('menu', 'is'), 576),
 (('of', 'it'), 576),
 (('we', 'got'), 574),
 (('place', 'and'), 573),
 (('will', 'definitely'), 571),
 (('staff', '.'), 571),
 (('was', 'also'), 570),
 (('fan', 'of'), 569),
 (('and', 'great'), 567),
 ((',', 'that'), 567),
 (('like', 'this'), 567),
 (('I', 'came'), 566),
 (('die', 'for'), 566),
 (('price', '.'), 565),
 (('all', '.'), 565),
 (('amazing', '!'), 564),
 (('and', 'this'), 564),
 (('I', 'also'), 563),
 (('to', 'die'), 561),
 (('restaurant', 'in'), 561),
 (('to', 'sit'), 560),
 (('but', 'we'), 559),
 (('have', 'the'), 559),
 (('back', 'and'), 556),
 (('menu', ','), 556),
 (('the', 'waitress'), 556),
 (('back', '!'), 555),
 (('.', '('), 555),
 (('as', 'good'), 554),
 (('last', 'night'), 554),
 (('but', 'this'), 553),
 (('I', 'thought'), 553),
 (('Great', 'food'), 553),
 (('off', 'the'), 550),
 (('back', 'for'), 548),
 (('them', '.'), 548),
 (('tasty', '.'), 546),
 (('.', 'Went'), 546),
 (('just', 'a'), 546),
 (('atmosphere', 'is'), 545),
 (('disappointed', '.'), 545),
 (('out', 'the'), 544),
 (('Food', 'was'), 543),
 (('5', 'stars'), 543),
 (('me', ','), 543),
 (('hard', 'to'), 541),
 (('of', 'wine'), 541),
 (('been', 'here'), 540),
 (('I', 'asked'), 540),
 (('the', 'manager'), 539),
 (('the', 'back'), 539),
 (('.', 'Best'), 538),
 (('so', 'many'), 538),
 ((',', 'just'), 536),
 (('can', 'not'), 536),
 (('it', 'would'), 536),
 (('atmosphere', ','), 535),
 (('The', 'atmosphere'), 534),
 (('I', 'always'), 534),
 (('Also', ','), 533),
 (('ordered', 'a'), 533),
 (('the', '``'), 532),
 (('next', 'to'), 532),
 (('they', 'had'), 531),
 (('.', 'Will'), 530),
 (('pizza', 'is'), 528),
 (('he', 'was'), 528),
 (('feel', 'like'), 527),
 (('for', 'our'), 526),
 (('not', 'to'), 524),
 (('and', 'i'), 524),
 (('what', 'you'), 524),
 (('have', 'had'), 524),
 (('the', 'pork'), 524),
 (('make', 'a'), 523),
 (('prices', 'are'), 523),
 (('there', 'for'), 522),
 (('.', 'Had'), 522),
 (('there', ','), 522),
 (('chicken', 'and'), 522),
 (('friends', '.'), 520),
 (('you', "'ll"), 518),
 (('I', 'tried'), 517),
 (('not', 'be'), 517),
 (('to', 'us'), 516),
 (('nice', '.'), 515),
 (('you', '.'), 514),
 (('enough', 'to'), 514),
 (('say', 'that'), 513),
 (('coming', 'back'), 513),
 (('was', 'pretty'), 513),
 (('way', 'to'), 512),
 (('(', 'and'), 512),
 (('My', 'friend'), 510),
 (('like', 'it'), 510),
 (('great', '!'), 507),
 (('ask', 'for'), 507),
 ((',', 'good'), 507),
 (('the', 'prices'), 507),
 (('has', 'been'), 506),
 (('Food', 'is'), 506),
 (("'s", 'the'), 505),
 (('And', 'the'), 505),
 (('it', 'out'), 505),
 (('should', 'be'), 505),
 (('got', 'a'), 504),
 ((',', 'no'), 503),
 (('is', 'also'), 503),
 (('all', ','), 502),
 (('too', 'much'), 501),
 (('and', 'he'), 501),
 (('the', 'whole'), 500),
 ((',', 'he'), 499),
 (('place', 'in'), 498),
 (('from', 'a'), 498),
 (('when', 'it'), 498),
 (('for', 'it'), 497),
 (('restaurants', 'in'), 496),
 (('friendly', ','), 495),
 (('we', 'could'), 494),
 (("n't", 'go'), 494),
 (('there', "'s"), 492),
 (('group', 'of'), 489),
 (('the', 'next'), 488),
 (('with', 'friends'), 488),
 (('every', 'time'), 487),
 (('for', '.'), 487),
 (('us', 'to'), 487),
 (('came', 'out'), 485),
 (('try', 'it'), 484),
 (('the', 'door'), 484),
 (('area', '.'), 483),
 (('if', 'we'), 483),
 (('loved', 'the'), 482),
 (('time', 'to'), 482),
 (('?', 'I'), 482),
 (('to', 'do'), 482),
 (('good', '!'), 482),
 (('the', 'end'), 482),
 (('because', 'of'), 481),
 (('the', 'quality'), 481),
 (('amount', 'of'), 481),
 (('into', 'the'), 481),
 (('...', '...'), 481),
 (('selection', 'of'), 480),
 (('spot', '.'), 480),
 (('place', 'has'), 480),
 (('The', 'best'), 480),
 (('neighborhood', '.'), 480),
 (('There', 'are'), 479),
 (('definitely', 'be'), 479),
 (('in', 'Brooklyn'), 479),
 (('not', 'too'), 479),
 (("'ll", 'be'), 479),
 ((',', 'even'), 479),
 (('a', 'while'), 478),
 (('quality', 'of'), 478),
 (('give', 'it'), 478),
 (('around', 'the'), 478),
 (('they', "'re"), 477),
 (('know', 'what'), 477),
 (('were', 'seated'), 476),
 (('a', 'must'), 475),
 (('waiting', 'for'), 475),
 (('pizza', ','), 474),
 (('great', 'service'), 474),
 (('next', 'time'), 472),
 (('time', 'and'), 470),
 (('There', 'is'), 470),
 (('wait', 'staff'), 469),
 (('the', 'hostess'), 469),
 (('even', 'though'), 468),
 (('trying', 'to'), 467),
 (('asked', 'for'), 467),
 (('on', 'top'), 466),
 (('menu', 'and'), 465),
 (('and', 'cheese'), 465),
 (('the', 'last'), 464),
 (('that', '.'), 464),
 (('I', 'recommend'), 463),
 (('When', 'I'), 463),
 (('were', 'a'), 463),
 (('in', 'all'), 462),
 (('it', 'and'), 460),
 (('I', 'guess'), 460),
 (('wine', 'list'), 460),
 (('friend', 'and'), 459),
 (('down', 'the'), 459),
 (('could', 'have'), 459),
 (('there', 'were'), 459),
 (('will', 'not'), 459),
 (('for', 'an'), 458),
 (('.', 'First'), 458),
 (('to', 'our'), 458),
 (('(', 'which'), 458),
 (('day', '.'), 456),
 (('of', 'all'), 456),
 (('and', 'she'), 455),
 (('my', 'wife'), 453),
 (('I', 'highly'), 452),
 (('go', '.'), 450),
 (('are', 'so'), 449),
 (('the', 'rest'), 449),
 (('part', 'of'), 449),
 (('and', 'so'), 448),
 (('This', 'was'), 448),
 (('.', 'Then'), 448),
 (('forward', 'to'), 448),
 ((',', 'because'), 448),
 (('for', 'this'), 447),
 (('here', 'and'), 447),
 (('are', 'not'), 447),
 (('went', 'there'), 447),
 (('The', 'restaurant'), 447),
 (('awesome', '.'), 446),
 (('my', 'husband'), 446),
 (('My', 'favorite'), 444),
 (('food', 'in'), 444),
 (('.', 'Nice'), 443),
 (('salad', ','), 443),
 (('times', 'and'), 443),
 (('with', 'some'), 441),
 (('amazing', ','), 441),
 (('for', '$'), 440),
 (('dining', 'experience'), 440),
 (('the', 'day'), 439),
 (('My', 'husband'), 438),
 (('and', 'all'), 438),
 (('the', 'right'), 436),
 (('recommend', 'the'), 436),
 (('fried', 'chicken'), 436),
 (('a', 'huge'), 435),
 (('ended', 'up'), 435),
 (('was', 'in'), 434),
 (('fresh', ','), 434),
 (('ice', 'cream'), 434),
 (('have', 'never'), 433),
 (('order', '.'), 432),
 (('the', 'street'), 432),
 (('if', 'they'), 432),
 (('table', ','), 432),
 (('.', 'Its'), 432),
 (('a', 'bad'), 431),
 (('in', '.'), 431),
 (('to', 'ask'), 430),
 (('a', 'drink'), 429),
 (('up', '.'), 428),
 ((',', 'then'), 428),
 (('a', 'week'), 427),
 (('I', 'wanted'), 427),
 (('a', 'wonderful'), 426),
 (('like', 'to'), 426),
 (('again', ','), 425),
 (('.', 'On'), 425),
 (('.', 'Really'), 425),
 (('is', 'pretty'), 425),
 (('night', ','), 425),
 (('best', 'I'), 423),
 (('the', 'perfect'), 423),
 ((',', '``'), 422),
 (('Ca', "n't"), 421),
 (('that', 'this'), 420),
 (('have', "n't"), 419),
 (('of', 'them'), 419),
 (('a', 'group'), 418),
 (('.', 'At'), 417),
 (('in', 'your'), 416),
 (('.', 'To'), 415),
 (('but', 'that'), 415),
 (('away', '.'), 414),
 (('came', 'here'), 414),
 (('than', 'the'), 413),
 (('out', 'to'), 413),
 (('are', 'great'), 413),
 (('rest', 'of'), 413),
 (('me', 'and'), 412),
 (('love', 'it'), 412),
 (('Overall', ','), 410),
 (('nice', ','), 409),
 (('make', 'sure'), 409),
 (('when', 'the'), 409),
 (('and', 'food'), 408),
 (('a', 'date'), 408),
 (('is', 'to'), 407),
 (('long', 'time'), 407),
 (('.', 'Even'), 406),
 (('tried', 'the'), 406),
 (('perfect', '.'), 405),

In [0]:
pos_bigrams_freq.most_common(100)

[(('.', 'I'), 342817),
 (('.', 'The'), 335256),
 ((',', 'and'), 194125),
 ((',', 'but'), 173070),
 (('of', 'the'), 137165),
 (('and', 'the'), 126466),
 (('.', 'It'), 113324),
 (('it', 'was'), 107892),
 ((',', 'I'), 104722),
 (('in', 'the'), 104719),
 (('.', 'We'), 97825),
 ((',', 'the'), 92076),
 (('on', 'the'), 83220),
 (('!', '!'), 79421),
 (('this', 'place'), 78767),
 (('it', "'s"), 77743),
 (('and', 'I'), 73590),
 (('I', 'was'), 71292),
 (('for', 'a'), 66848),
 (('for', 'the'), 63158),
 ((')', '.'), 62420),
 (('I', "'ve"), 61973),
 (('with', 'a'), 60487),
 (('I', "'m"), 59682),
 (('to', 'the'), 59216),
 (('I', 'had'), 58413),
 (('do', "n't"), 58197),
 (('was', 'a'), 57970),
 (('the', 'food'), 56963),
 (('with', 'the'), 55085),
 (('is', 'a'), 51833),
 (('it', '.'), 50762),
 (('.', 'My'), 50612),
 ((',', 'it'), 49529),
 (('.', 'This'), 49178),
 (('to', 'be'), 48406),
 (('.', 'They'), 47847),
 (('the', 'best'), 47430),
 (('did', "n't"), 46260),
 (('had', 'the'), 45579),
 ((',', 'which'), 45103),
 (('on', 'a'), 44906),
 (('!', 'I'), 44828),
 (('It', "'s"), 44695),
 (('I', 'would'), 43539),
 (('It', 'was'), 43486),
 (('good', '.'), 43471),
 (('but', 'I'), 43373),
 (('if', 'you'), 42926),
 (('and', 'it'), 42730),
 (('at', 'the'), 42452),
 (('a', 'little'), 41090),
 (('I', 'have'), 40557),
 (('and', 'a'), 38464),
 ((',', 'so'), 38212),
 (('had', 'a'), 37059),
 (('place', 'is'), 37012),
 (('in', 'a'), 36528),
 (('a', 'bit'), 35939),
 (('but', 'the'), 34916),
 (('one', 'of'), 33854),
 (('we', 'were'), 33738),
 ((')', ','), 33540),
 (('but', 'it'), 32480),
 (('.', 'But'), 32110),
 (('a', 'great'), 31526),
 (('to', 'go'), 31504),
 (('was', "n't"), 30812),
 (('to', 'get'), 30810),
 (('which', 'was'), 30695),
 ((',', 'we'), 30679),
 (('is', 'the'), 30222),
 (('!', 'The'), 29896),
 (('I', 'do'), 29457),
 (('food', '.'), 29318),
 (('to', 'try'), 29012),
 (('was', 'the'), 28915),
 (('.', 'If'), 28256),
 (('you', "'re"), 28252),
 (('The', 'food'), 27995),
 (('.', 'And'), 27955),
 (('that', 'I'), 27868),
 (('the', 'menu'), 27749),
 (('ordered', 'the'), 27586),
 (('it', 'is'), 27382),
 (('was', 'very'), 27038),
 (('ca', "n't"), 26639),
 (('from', 'the'), 26580),
 (('have', 'a'), 26352),
 (('a', 'few'), 26339),
 (('good', ','), 26309),
 (("'s", 'a'), 26299),
 (('food', 'is'), 25596),
 (('place', '.'), 25550),
 (('have', 'to'), 25530),
 (('delicious', '.'), 24935),
 (('food', 'was'), 24879),
 (('a', 'good'), 24657),
 (('you', 'can'), 24650),
 (('.', 'There'), 24497)]